.popUp{
    position: relative;
    z-index: 1;
    display: none;
    height:50vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 25%;
    top: 25%;
    padding: 4% 5%;
    border-radius: 20px;
}


.popUp > h4 {
    color: #007bff;
}

::-webkit-scrollbar{
    display: none;
}

.popUp > .close{
    margin-left: auto;
    background: #ececec;
    color: black;
    border-radius: 5%;
    font-size: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

.popUp > .content {
    padding: 10px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}
.popUp > .content > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 4%;
    height: 20%;
    width: 100%;
    border-radius: 5px;
    background: rgba(20, 20, 20, 0.094);
    transition: 1s;
}
a > div{
    color: black;
}

.popUp > .content > a:hover {
    margin-top: 5%;
    padding: 4%;
    height: 20%;
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 98, 255, 0.278);
    color: black;
}


.popUp > .close > img {
    width: 20px;
    margin-bottom: 0;
}


.popUp > .close:hover{
    background: #cbdcffaa;
    color: #007bff;
}
